{% extends "adminbase.html.twig" %}
{% block title %}Apples{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<br><br>
				<a class="btn btn-danger" href="{{ path('apple_delete_all') }}">Delete all apples</a>
				<a class="btn btn-success" href="{{ path('apple_generate') }}">Generate random apples</a>
				<br><br>
				{% for apple in apples %}
					<p>status: {{ apple.status }}</p>
					<p>size: {{ apple.getIntSize() }}</p>
					<p>color <a href="{{ path('apple_view', {'id': apple.id}) }}">{{ apple.color }}</a></p>
					<hr>
					<br>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}