{% extends "adminbase.html.twig" %}
{% block title %}Apples{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2>color: {{ apple.color }}</h2>
				<p>total: {{ apple.getIntSize() }}</p>				
				<p>status: {{ apple.getStatus() }}</p>				
				<p><a href="{{ path('apple_fall', {'id': apple.getId()}) }}">fall</a></p>				
				<p><a href="{{ path('apple_spoil', {'id': apple.getId()}) }}">spoil</a></p>				
				<p><a href="{{ path('apple_delete', {'id': apple.getId()}) }}">delete</a></p>				
				{{ form_start(form) }}
				{{ form_widget(form)}}
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Eat</button>
					</div> 
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}