{% extends "base.html.twig" %}
{% block title %}Home page{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">Base page</h1>
			</div>
		</div>
	</div>
{% endblock %}