<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
                <!-- CSS only -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
                <!-- JavaScript Bundle with Popper -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block breadcrumbs %}{% endblock %}
        {% include '_flashes.html.twig' %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="{{ path('index') }}">
					<i class="fa fa-microchip" aria-hidden="true"></i>
				</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('index') }}">Главная <span class="sr-only">(current)</span></a>
						</li>
					</ul>
					<form class="form-inline">
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a href="{{ path('app_logout') }}" class="btn btn-danger mr-2">Logout</a>
							<a href="{{ path('apple_index') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit" target="_blank">Яблоки</a>
						{% else %}
							<a href="{{ path('app_login') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Вход</a>
						{% endif %}
					</form>
				</div>
			</nav>
        {% block body %}{% endblock %}
    </body>
</html>
