{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>User registration form</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				
				<button class="btn btn-lg btn-primary" type="submit">
					Sign up
				</button>
				
				{{ form_end(form) }}   
			</div>
		</div>
	</div>	
{% endblock %}
